---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---




@charset "utf-8";

@import "minimal-mistakes"; // main partials


$theoretics-dark-blue: #324678;
$theoretics-light-blue: #c8e6f0;
$theoretics-dark-red: #c31e1e; // #b9161e
$theoretics-light-red: #ff232e;
$theoretics-beige: #d7beb4;


/* Reduce sitewide font size */
html {
  font-size: 16px; /* default is ~16px; adjust to taste */
}

@media (min-width: 64em) {
  .page {
    float: none;
    width: 100%;
    padding-right: 200px;
  }
}


.site-title {
  color: $theoretics-dark-red !important;
}